params {
    tools {
        singlecelltoolkit {
            barcode_correction {
                max_mismatches = 1
                min_frac_bcs_to_find = 0.5
                whitelist {
                    atac = 'PUMATAC_dependencies/whitelists/737K-cratac-v1.txt.gz'
                    atac_revcomp = 'PUMATAC_dependencies/whitelists/737K-cratac-v1.REVCOMP.txt.gz'
                    multiome = 'PUMATAC_dependencies/whitelists/737K-arc-v1.txt.gz'
                    multiome_revcomp = 'PUMATAC_dependencies/whitelists/737K-arc-v1.REVCOMP.txt.gz'
                    hydrop_2x384 = 'PUMATAC_dependencies/whitelists/hydrop_384x384.REVCOMP.txt.gz'
                    hydrop_3x96_short = 'PUMATAC_dependencies/whitelists/20230120_hydrop-atac_ligation_all_revcomp.txt.gz'
                    s3_atac_1 = 'PUMATAC_dependencies/whitelists/s3_atac_1.txt.gz'
                }
            }
            barcode_10x_scatac_fastqs {
                uncorrected_bc_tag = 'CR'
                barcode_quality_tag = 'CY'
            }
        }
    }
}


