params {
    tools {
        bwamaptools {
            bwa_fasta = 'PUMATAC_dependencies/genomes/hg38_bwamem2/genome.fa'
            bwa_version = 'bwa-mem2'
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__bwa_mem' {
        executor = 'local'
        cpus = 6
        memory = '60 GB'
        time = '24h'
        maxForks = 8
    }
}

